:root {
        --gray: #212121;
        --green: #03be7a;
        --white: #e9e9e9;
        --black: #0c0c0c;
}

@font-face {
        font-family: hellb;
        src: url(./HelveticaNowDisplay-Bold_VMHV5twUMR.ttf);
}

* {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
}

html,
body {
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
}

nav {

        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px 50px;
}

.nav1 img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
}

.nav1 h6 {
        font-size: 17px;
        width: 90px;
}

.nav1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
}

.nav2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 70px;
}

.nav2 img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
}

.nav2 h4 {
        font-size: 17px;
}

.nav2 h4 i {
        font-size: 20px;
}

.nav3 {
        display: flex;
        align-items: center;
        gap: 20px;
        display: none;
}

.nav3 h4 {
        font-size: 16px;
        font-weight: 100;
}


@media (max-width:600px) {
        nav {
                padding: 10px 25px;

        }

        .nav1 img {
                height: 35px;
                width: 35px;
        }

        .nav1 h6 {
                font-size: 12px;
        }

        .nav2 {
                display: none;
        }

        .nav3 {
                display: flex;
        }
}

main {
        padding-top: 60px;
}

.section1 {
        display: flex;
        justify-content: space-between;
        padding: 15px 50px;
}

.section1 .left {
        width: 42%;
        /* background-color: #fff; */
}

.section1 .left h2 {
        font-size: 48px;
}

.section1 .left .tag {
        display: flex;
        align-items: center;
        gap: 5px 5px;
        flex-wrap: wrap;
        margin: 30px 0px;

}

.section1 .left .tag h4 {
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 18px;
        white-space: nowrap;
        background-color: var(--gray);
}

.left h3 {
        font-size: 30px;
}

.left h5 {
        color: #03be7a;
}

.left .price {
        font-size: 35px;
        color: var(--green);
}

.price1 {
        color: var(--green);
}

.left .lgray {
        font-size: 25px;
        font-weight: 800;
        color: #9c9c9c;
        text-decoration: line-through;
}

.section1 .left .cta {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 20px 0px;
}

.cta button {
        background-color: var(--green);
        padding: 20px 60px;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        font-weight: 700;
        border: none;
        font-family: sans-serif;
}

.cta button:nth-child(2) {
        background-color: var(--gray);
}

/* right */

.section1 .right .right-in {
        width: 600px;
        border-radius: 10px;
        overflow: hidden;
}

.section1 .right .right-in .image {
        width: 100%;
}

.section1 .right .right-in .image img {
        width: 100%;
}

.section1 .right .right-in .image-bottom {
        padding: 20px;
        background-color: var(--gray);
        padding-top: 20px;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

}

.right-in .image-bottom h4 {
        background-color: #151515;
        padding: 10px 15px;
        border-radius: 5px;
        width: 45%;
}

@media (max-width:1400px) {
        .section1 .left h1 {
                font-size: 3.5vw;
        }
}

@media (max-width:800px) {
        .section1 {
                flex-direction: column-reverse;
        }

        .section1 .left {
                width: 100%;
                margin-top: 20px;
        }

        .section1 .left h1 {
                font-size: 33px;
        }

        .section1 .right .right-in {
                width: 100%;
                border-radius: 5px;
                overflow: hidden;
        }

        .section1 .right .right-in .image {
                width: 100%;
                height: 45vw;
        }

        main {
                padding-top: 10px;
        }

        .section1 .right .right-in .image-bottom {
                padding: 10px;
                padding-top: 8px;
                display: flex;
                gap: 8px;
        }

        .right-in .image-bottom h4 {
                padding: 6px 12px;
                border-radius: 5px;
                font-size: 2.5vw;
                width: 45%;
        }

        .section1 .left .tag h4 {
                padding: 8px 17px;
                font-size: 15px;
        }

        /* button */
        .left h3 {
                font-size: 25px;
        }

        .left .price {
                font-size: 40px;
                color: var(--green);
        }

        .left .lgray {
                font-size: 17px;
                font-weight: 600;
                color: #8f0a0a;
        }

        .section1 .left .cta {
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 12px 0px;
        }

        .cta button {
                background-color: var(--green);
                padding: 15px 30px;
                font-size: 17px;
                font-weight: 500;
        }
}

@media (max-width:600px) {
        .section1 .left h1 {
                font-size: 5vw;
        }
}

.section2 {
        display: flex;
        align-items: center;
        flex-direction: column;
}

.section2 h1 {
        font-size: 160px;
        font-family: hellb;
        background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/mask%20Large_ZB4lGN8hWZ.png);
        background-size: cover;
        background-clip: text;
        position: relative;
        color: transparent;
}

.section2 h1.bloom {
        position: absolute;
        filter: blur(70px);
}

.section2 h3 {
        font-size: 40px;
        text-transform: capitalize;
        letter-spacing: -1px;
}

@media (max-width:900px) {
        .section2 h1 {
                font-size: 60px;
        }

        .section2 h1.bloom {
                position: absolute;
                filter: blur(70px);
        }

        .section2 h3 {
                font-size: 4vw;
                text-align: center;
        }
}