* {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
}

html,
body {
        width: 100%;
        height: 100%;
        background-color: black;
}

nav {
        
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;
        padding: 10px 30px;
        border: 1px solid white;
}

.nav1 img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
}

.nav1 h6 {
        font-size: 15px;
        width: 50px;
}

.nav1 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
}

.nav2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
}

.nav2 h4 {
        font-size: 17px;
}

.nav2 h5 {
        font-size: 20px;
        display: none;
}

#hero{
        height: 100vh;
        width: 100%;
        color: white;
        position: relative;
        text-align: center;
        font-size: 40px;
}

#hero h4{
        position: absolute;
        left: 20%;
        top: 30%;
        width: 30ch;
        font-weight: 500px;
        /* font: 1em sans-serif; */
}

@media (max-width:600px) {
        nav{
                padding: 15px;
                
        }
        .nav1 img{
                height: 35px;
                width: 35px;
        }
        .nav1 h6{
                font-size: 11px;
        }
        .nav2 h4 {
                display: none;
        }
        .nav2 h5{
                display: block;
        }
}