*{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
}

html, body{
        width: 100%;
        height: 100%;
}

/* display Flex properties */

nav{
        background-color: lightseagreen;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 20px;

}

/* #parent{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        flex-direction: row-reverse;
}
#child1{
        height: 100px;
        width: 200px;
        background-color: greenyellow;
}
#child2{
        height: 100px;
        width: 200px;
        background-color: darkblue;
}
#child3{
        height: 100px;
        width: 200px;
        background-color: crimson;
}
#child4{
        height: 100px;
        width: 200px;
        background-color: green;
} */

/* Display Grid Properties */
/* #parent{
        height: 100%;
        width: 100%;
        background-color: black;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 25% 25% 25%;
}

#child1{
        background-color: crimson;
        border: 2px solid white;
}
#child2{
        background-color: yellowgreen;
        border: 2px solid white;
}
#child3{
        background-color: darkgreen;
        border: 2px solid white;
}
#child4{
        border: 2px solid white;
        background-color: darkblue;
} */

/* Media Quaries */
