* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background: #000000;
    height: 100%;
    width: 100%;
    font-family: "Helvetica Neue", sans-serif;
}

.perent {
    width: 100%;
    height: 100%;
    /* background-color: pink; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    
    gap: 20px;
}

.main-card {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: scroll;
    gap: 10px;
    /* background-color: #ddd; */
    
}

.inp {
    height: 80px;
    width: 80%;
    padding: 15px;
    border-radius: 10px;
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.blurred-layer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("https://cdn.pixabay.com/photo/2024/04/20/14/52/golden-floral-lady-8708772_1280.jpg"); */
    background-size: cover;
    background-position: bottom;
    filter: blur(10px);
    z-index: 1;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-size: 100% 100%;
    mask-repeat: no-repeat;

    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
}

.content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 2;
}

.content h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

.content p {
    font-size: 14px;
    color: #ddd;
    line-height: 1.4;
}

.not-found {
  font-size: 2rem;
  color: #f87171;
  font-weight: 600;
  text-align: center;
  padding: 50px 0;
  text-shadow: 0 0 20px rgba(248, 113, 113, 0.5);
  animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.05);
    opacity: 1;
  }
}
